:root {
  --main-title-color:#46462e;
  --subtitle-color: #25251a;
  --main-text-color: #313117;
  --background-color: #808060;
  --background-color-light: #a0a080;
  --background-color-translucent: rgba(160, 160, 128, 0.5); /*same as background-color-light, but translucent*/
  --footer-background: #404040;
  

  font-size: 60%;
}

body, h1, p {
  margin: 0;
}

p {
  font-family: 'Montserrat', sans-serif;
}

header, .title-background {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header {
  background-image: url(./img/montanhas.jpeg);
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.title-background {
  height: 12rem;
  width: 100%;
  background-color: var(--background-color-translucent);
  margin-top: 24rem;
}

.main-title {
  color: var(--main-title-color);
  font-size: 3.2rem;
  font-family: 'Rowdies', cursive;
}

.subtitle {
  font-size: 1.6rem;
  color: var(--subtitle-color);
  text-shadow: 0 0 2px var(--main-title-color);
}

section {
  background-color: var(--background-color);
  padding: 3.2rem;
}

section:nth-child(odd) {
  background-color: var(--background-color-light);
}

section p {
  max-width: 720px;
  margin: auto;
  font-size: 1.6rem;
  color: var(--main-text-color);
}